[Desktop Entry]
Name=Brightness Manager
Comment=Controls the luminescence of your monitors
Exec=
Icon=
Type=Application
StartupNotify=false
StartupWMClass=brightness-manager
